// THEME 1
$th1-bg-1: #3a4764;
$th1-bg-2: #232c43;
$th1-bg-3: #182034;

$th1-key-blue-1: #637097;
$th1-key-blue-2: #404e72;
$th1-key-red-1: #d03f2f;
$th1-key-red-2: #93261a;
$th1-key-gray-1: #eae3dc;
$th1-key-gray-2: #b4a597;

$th1-tc-dark: #444b5a;
$th1-tc-light: #ffffff;
$th1-tc-gray: #ffffffbf;

// THEME 2
$th2-bg-1: #e6e6e6;
$th2-bg-2: #d1cccc;
$th2-bg-3: #ededed;

$th2-key-cyan-1: #377f86;
$th2-key-cyan-2: #1b5f65;
$th2-key-orange-1: #ca5502;
$th2-key-orange-2: #893901;
$th2-key-gray-1: #e5e4e1;
$th2-key-gray-2: #a69d91;

$th2-tc-dark: #35352c;
$th2-tc-light: #ffffff;

// THEME 3
$th3-bg-1: #160628;
$th3-bg-2: #1d0934;

$th3-key-violet: #58077d;
$th3-key-magenta: #bc15f4;
$th3-key-cyan-1: #00e0d1;
$th3-key-cyan-2: #6cf9f2;
$th3-key-drkViolet-1: #341c4f;
$th3-key-drkViolet-2: #871c9c;

$th3-tc-yellow: #ffe53d;
$th3-tc-dark: #1b2428;
$th3-tc-light: #ffffff;
